#api

bin/
trash/
target/
.classpath
.gitignore
.project
.settings/
mvn-release.txt
*.bak
**/abak
**/ubak
**/eclipse/
**/webapp/WEB-INF/lib/

#ui

api/target
**/ui/node_modules
**/ui/bower_components
**/ui/.npmrc
.idea

**/*.log