@import "mixins";
@import "variables";


[data-orchestra='summary-line-content']{
      display: flex;
      justify-content: space-around;
      align-items: center;
      >span{
          font-style: italic;
      }
      >div[data-orchestra='name']{
          width: 30%;
          text-align: left;
          text-transform: uppercase;
          font-weight: bold;
      }
      >div[data-orchestra='counts']{
          width: 30%;
      }
      >div[data-orchestra='last']{
          width: 20%;
          text-align: center;
      }
      >div[data-orchestra='next']{
          width: 20%;
          text-align: center;
      }
}
